#http://www.openocd.org/doc/html/Flash-Commands.html
source [find interface/raspberrypi2-native.cfg]
source [find VARIABLES.cfg]
transport select swd

set WORKAREASIZE 0x4000
#set WORKAREASIZE 0x800
#set WORKAREASIZE 0

adapter_nsrst_delay 100
adapter_nsrst_assert_width 100
 
set CHIPNAME nrf52
source [find target/nrf52.cfg]
 
# did not yet manage to make a working setup using srst
#reset_config srst_only
reset_config srst_nogate
#reset_config srst_only srst_nogate
 
init
targets
reset
halt
nrf5 mass_erase
program MERGED_OUTPUT.hex verify 0
reset
halt

# validate firmware
flash fillw 0x0007f000 0x01 1

#legacy Board Value
flash fillw 0x10001084 $board_val 1

# product family, market and product type
flash fillw 0x10001088 $fam_market_type 1

# major, minor and patch version numbers
flash fillw 0x1000108c $maj_min_patch 1

# production run in year, week and housing identification
flash fillw 0x10001090 $prodrun_housingid 1

reset
#shutdown
